<div class="topbar blue_dark">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <p></p>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul class="social_top">
                    <li><a href="#."><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#."><i class="icon-twitter4"></i></a></li>
                    <li><a href="#."><i class="icon-google"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 clearfix">
        <a class="navbar-brand" href="/"><img src="../static/images/logo.png"  alt="3D Home Tours | Matterport Service Partner" title="Naples 3D Home Tours | Matterport Service Partner" class="img-responsive"></a>
        <ul class="company_info">
          <li><i class="icon-phone8"></i><strong>XXX-XXX-XXXX</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-default navbar-sticky bootsnav">
    <div class="container">
        <div class="attr-nav">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="icon-twitter4"></i></a></li>
                <li><a href="#"><i class="icon-google"></i></a></li>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="/"><img src="../static/images/logo_black.png" alt="logo" class="img-responsive"></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-center" data-in="fadeInDown" data-out="fadeOut">
                <li class="active"><a href="/">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Examples</a>
                    <ul class="dropdown-menu">
                        <li><a href="https://matterport.com/sample-real-estate-listing/">Residential</a></li>
                        <li><a href="https://try.matterport.com/commercial-real-estate-brokerages/">Commercial</a></li>
                    </ul>
                </li>
                <li><a href="/virtualreality">Virtual Reality</a></li>
                <li><a href="/price">Pricing</a></li>
                <li><a href="/map">Map</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li>
                    <a id="sign_menu" class="lnkreguser" style="margin-right: 10px;" href="#" data-toggle="modal" data-target="#myLoginModal">
                        <span id="sign">SignIn/Up</span>
                    </a>
                </li>
                <li>
                    <a class="loginpopover" data-toggle="popover" data-container="body" data-html="true" data-original-title="" title="">
                        <span class="displayuname" id="profile"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>
</header>

