{% extends "layout.html" %}
{% block title %}VR 360 Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}

    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <div class="loader">
        <div class="satellite"></div>
        <p class="title-loader">Loading ...</p>
    </div>

    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <img src="../static/gif/1.gif" title="animated demo" style='height: 100%; width: 100%; object-fit: contain'/>
        </div>
    </div>

    <section id="about" class="padding-bottom">
        <div class="container">
            <div class="col-md-4 col-sm-4 about_box">
                <div class="row">
                    <a href="https://my.matterport.com/show/?m=JGPnGQ6hosj&play=1"> <img src="../static/images/detail1.jpg" alt="About Us" class="img-responsive detail">
                    <div class="effect text-center">
                        <img src="../static/images/favicon.png" alt="3D tour samples">
                        <h3>3D Tour Samples</h3>
                        <p class="margin10">3D Tours delivered in 24 hours</p></a>
                </div>
            </div>
        </div>

         <div class="col-md-4 col-sm-4 about_box">
          <div class="row">
          <a href="http://www.naples3dhome.com/tour/now/1605-Crayton-Rd-Naples-FL-34102.php" > <img src="../static/images/detail2.jpg" alt="About Us" class="img-responsive detail">
           <div class="effect text-center">
             <img src="../static/images/favicon.png" alt="All Inclusive Matterport Package">
             <h3>3D Tours from $199</h3>
             <h3>All Inclusive Package</h3>
             <p>3D Tour, 25 HDR Photos, 2D Floor Plan, Web Page, 1 Year Hosting</p>
             <p class="margin10"><1,500 Sqft just <strong>$298</strong><br> 1,500-3,000 Sqft just <strong>$348</strong><br>3,001-5,000 Sqft just <strong>$398</strong><br>View Sample Tour</p></a>
           </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-4 about_box">
            <div class="row">
            <a href="virtual-reality-for-3d-tours-with-matterport.html" >
            <img src="../static/images/detail3.jpg" alt="About Us" class="img-responsive detail">
            <div class="effect  text-center">
             <img src="../static/images/favicon.png" alt="Matterport virtual reality">
             <h3>Virtual Reality</h3>
             <p class="margin10">Matterport Virtual Reality delivered in 24 hours</p></a>
            </div>
        </div>
        </div>

         <!--<div class="col-md-6 col-sm-6 about_box">-->
          <!--<div class="row">-->
          <!--<a href="files/kit.pdf" > <img src="../static/images/detail1.jpg" alt="About Us" class="../static/img-responsive detail">-->
           <!--<div class="effect text-center">-->
           <!--<img src="../static/images/favicon.png" alt="Matterport realtor flyers">-->
             <!--<h3>Realtor Flyers</h3>-->
             <!--<p class="margin10">Download </p></a>-->
           <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <div class="clearfix"></div>

        <div class="row">
          <div class="col-md-7 col-sm-6 priorty">
            <h2 class="heading half_space">About Us and Our Priorities <span class="divider-left"></span></h2>
            <p class="half_space">Creating High-quality, rapid 3D visualization of physical spaces.<br />
                For use in marketing model homes, resale homes, vacation rentals, commercial space, yachts, and large aircraft.

            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="about-post">
                <a href="#." class="border-radius"><img src="../static/images/hands.png" alt="Easy To Work With"></a>
                <h4>Easy To Work With</h4>
                <p></p>
                </div>
                <div class="about-post">
                <a href="#." class="border-radius"><img src="../static/images/awesome.png" alt="Happy Clients"></a>
                <h4>Happy Clients</h4>
                <p></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-post">
                <a href="#." class="border-radius"><img src="../static/images/maintenance.png" alt="Tools For Success"></a>
                <h4>Tools For Success</h4>
                <p></p>
                </div>
                <div class="about-post">
                <a href="#." class="border-radius"><img src="../static/images/home.png" alt="3D Tour Specialist"></a>
                <h4>3D Tour Specialist</h4>
                <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-sm-6">
             <h2 class="heading half_space">Scanning Mesh Image <span class="divider-left"></span></h2>
             <img src="../static/images/mesh.png" alt="matterport 3D mesh" class="img-responsive" style="width:100%;">
          </div>
        </div>
      </div>
    </section>

    <div class="clearfix"></div>
    <!--<div class="container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-6">-->
                <!--<h2 class="heading half_space">Realtor.com promoting Matterport! <span class="divider-left"></span></h2>-->
                <!--<iframe width="100%" height="315" src="https://www.youtube.com/embed/pQWyKpUDpSw" alt="Realtor uses Matterport" frameborder="0" allowfullscreen></iframe>-->
           <!--</div>-->

            <!--<div class="col-md-6">-->
                <!--<h2 class="heading half_space">Getting Listings with Matterport! <span class="divider-left"></span></h2>-->
                <!--<iframe src="https://player.vimeo.com/video/144028616" width="100%" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <br />

    <!--Paralax -->
    <section id="parallax" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Providing Professional 3D Tours</h2>
                    <a href="/price" class="border-radius button-hover">Order a tour!</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

