{% extends "layout.html" %}
{% block title %}VR 360 Pricing{% endblock %}
{% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="Description" content="Matterport 3D virtual tour and HDR Photo pricing for Auckland,New Zealand. ">
    <meta name="Keywords" content="Matterport Price Auckland,New Zeland,price list matterport,check matterport prices">
{% endblock %}
{% block content %}

    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--Loader-->
    <div class="loader">
        <div class="satellite"></div>
        <p class="title-loader">Loading ...</p>
    </div>

    <!--Page Header-->
    <section class="page_header padding-top">
      <div class="container">
        <div class="row">
          <div class="col-sm-12  hidden-xs text-center page-content">
            <h1>3D Tour and HDR Photo Pricing</h1>
            <!--<p>*We are highly price competitive in the Matterport 3D tour market and have been providing Matterport tours since 2014.</p>-->
            <div class="page_nav">
             <span>You are here:</span> <a href="/">Home</a>

            <span><i class="fa fa-angle-double-right"></i>Matterport 3D Tour Pricing</span>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!--SERVICE SECTION-->
    <section id="pricing" class="padding-top padding-bottom-half">
        <div class="container">
            <h2 class="heading heading_space">3D Tour and Add-on Prices<span class="divider-left"></span></h2>
            <div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="price_table border-radius text-center heading_space">
            <div class="plan half_space">
                <h3>Small<br> 3D Tour</h3><img src="../static/images/bot.png" alt="powered by matterport" width="200px" class="">
            </div>
            <div class="price">
                <p><span class="dollor">$</span>799</p>
            </div>
            <p><150 square meter of attached interior space plus covered lanai's and attached garages at no additional cost.</p>
            <ul>
                <li><p3>Includes:</p3></li>
                <li>1 Year Model Hosting</li>
                <!--<li><a href="http://www.naples3dhome.com/tour/now/6105-Montelena-Cir-6102-Naples-FL-34119.php" target="_blank" class="btn-light border-radius button-hover">Dedicated MLS Tour Page</a></li>-->
                <li>Branded Link to Showcase</li>
                <li>Non Branded Link to Showcase</li>
                <li>HTML embed code for your website</li>
                <!--<li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video</a></li>-->
                <li>360 Detached Outside Scans </li>
                <li>CoreVR for Virtual Reality</li>
                <li>10 HDR High Quality Photos</li>


                <li><p3>Add-ons:</p3></li>
                <li><a href="../static/pdf/fplan2.pdf" target="_blank"  class="btn-light border-radius button-hover">2D Schematic Floor Plan 59$ </a></li>

                <li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video 79$</a></li>
                <li>10 Mattertags $19</li>
            </ul>
            <a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
            <div class="price_table border-radius text-center heading_space">
              <div class="plan half_space"><h3>Medium <br>3D Tour</h3><img src="../static/images/bot.png" alt="powered by matterport" width="200px" class=""></div>
              <div class="price">
                <p><span class="dollor">$</span>899</p></div>
              <p>150-250 square meter of attached space plus covered lanai's and attached garages at no additional cost.</p>
             <ul>
     <li><p3>Includes:</p3></li>
                 <li>1 Year Model Hosting</li>
                 <!--<li><a href="http://www.naples3dhome.com/tour/now/6105-Montelena-Cir-6102-Naples-FL-34119.php" target="_blank" class="btn-light border-radius button-hover">Dedicated MLS Tour Page</a></li>-->
               <li>Branded Link to Showcase</li>
                 <li>Non Branded Link to Showcase</li>

                <li>HTML embed code for your website</li>
    <!--<li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video</a></li>-->
    <li>360 Detached Outside Scans </li>
    <li>CoreVR for Virtual Reality</li>
    <li>15 HDR High Quality Photos</li>

    <li><p3>Add-ons:</p3></li>
    <li><a href="../static/pdf/fplan2.pdf" target="_blank"  class="btn-light border-radius button-hover">2D Schematic Floor Plan 69$</a></li>

              <li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video 79$</a></li>
              <li>10 Mattertags $19</li>
              </ul>
              <a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="price_table border-radius text-center heading_space">
              <div class="plan half_space"><h3>Large <br>3D Tour</h3><img src="../static/images/bot.png" alt="powered by matterport" width="200px" class=""></div>
              <div class="price">
                <p><span class="dollor">$</span>999</p></div>
              <p>250-350 square meter of attached space plus covered lanai's and attached garages at no additional cost.</p>
             <ul>
     <li><p3>Includes:</p3></li>
                <li>1 Year Model Hosting</li>
                 <!--<li><a href="http://www.naples3dhome.com/tour/now/6105-Montelena-Cir-6102-Naples-FL-34119.php" target="_blank" class="btn-light border-radius button-hover">Dedicated MLS Tour Page</a></li>-->
               <li>Branded Link to Showcase</li>
                 <li>Non Branded Link to Showcase</li>

                <li>HTML embed code for your website</li>
    <!--<li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video</a></li>-->
    <li>360 Detached Outside Scans </li>
    <li>CoreVR for Virtual Reality</li>
    <li>20 HDR High Quality Photos</li>
    <li><p3>Add-ons:</p3></li>
    <li><a href="../static/pdf/fplan2.pdf" target="_blank"  class="btn-light border-radius button-hover">2D Schematic Floor Plan 79$</a></li>
    <li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video 79$</a></li>
    <li>10 Mattertags $19</li>
    </ul>
    <a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>
    </div>
    </div>

    <div class="col-md-3 col-sm-6">
            <div class="price_table border-radius text-center heading_space ">
              <div class="plan half_space"><h3>X-Large <br>3D Tour</h3><img src="../static/images/bot.png" alt="powered by matterport" width="200px" class=""></div>
              <div class="price"><p><span class="dollor">$</span>3<span class="month">/meter</span></p></div>
             <ul>
     <li><p3>Includes:</p3></li>
                  <li>1 Year Model Hosting</li>
                 <!--<li><a href="http://www.naples3dhome.com/tour/now/6105-Montelena-Cir-6102-Naples-FL-34119.php" target="_blank" class="btn-light border-radius button-hover">Dedicated MLS Tour Page</a></li>-->
               <li>Branded Link to Showcase</li>
                 <li>Non Branded Link to Showcase</li>

                <li>HTML embed code for your website</li>
    <!--<li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video</a></li>-->
    <li>360 Detached Outside Scans </li>
    <li>CoreVR for Virtual Reality</li>
    <li>HDR High Quality Photos</li>

    <li><p3>Add-ons:</p3></li>
    <li><a href="../static/pdf/fplan2.pdf" target="_blank"  class="btn-light border-radius button-hover">2D Schematic Floor Plan </a></li>
    <li><a href="https://player.vimeo.com/video/282127022" target="_blank" class="btn-light border-radius button-hover">Walking Tour Video($TBD)</a></li>
    <li>20 Mattertags $29</li>
    </ul>
    <a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>
    </div>
    </div>
    </div>
    </div>
    </section>

    <div class="col-md-4 col-sm-4 about_box">
        <div class="row"></div>
    </div>
    <div class="clearfix"></div>
    </div>
    <!--<div class="container">-->

    <!--<h2 class="heading heading_space">Included in our 3D Tour package<span class="divider-left"></span></h2>-->
    <!--<p>*We offer great value pricing compared to our competitors, since we include extras others charge you for...</p><br>-->


     <!--<div class="row">-->


      <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/slideshow-matterport.jpg" alt="Matterport slideshow" class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
            <!--<h3> Slideshow Highlight Reel</h3><p3>Included!</p3>-->

            <!--<p>Walk thru slideshow created with every 3D tour at no charge to you.</p>-->

          <!--</div>-->

     <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/Matterport-Floor-Plan.png" alt="Matterport 2D floor plan" class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
           <!--<h3> 2D Schematic Floor Plan</h3><p3>Included!</p3>-->
            <!--<p>2D floor plan included with every 3D tour. Some companies charge as much as <strong>$50-$100</strong> for this.</p>-->

          <!--</div>-->
          <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/matterport-core-vr.jpg" alt="Core VR" class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
            <!--<h3> Core VR </h3><p3>Included!</p3>-->
            <!--<p>Core VR included with every 3D tour.  Some companies charge as much as <strong>$20</strong> for Core VR.</p>-->

          <!--</div>-->

           <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/1-yr-matterport-hosting.png" alt="One Year Hosting" class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
            <!--<h3> 1 Year 3D Tour Hosting </h3><p3>Included!</p3>-->
            <!--<p>1 year 3D Tour hosting inlcuded with every 3D tour.  Some companies charge as much as <strong>$50</strong> for initial 3D hosting.</p>-->

          <!--</div>-->

           <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/matterport-360.jpg" alt="360 Detached Scans" class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
            <!--<h3> 360 Detached Scans </h3><p3>Included!</p3>-->
            <!--<p>360 detached scans are included of the front and the back of property and added to the slideshow.  Some companies charge extra for 360 detached scans.</p>-->

          <!--</div>-->
           <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/branded.png" alt="Branded and Non Branded Tours " class="img-responsive border-radius">-->
              <!--<span class="post">Included</span>-->
            <!--</div>-->
            <!--<h3> Branded and Non Branded Tours </h3><p3>Included!</p3>-->
            <!--<p>Branded and non branded 3D tours are included with every 3D tour.</p>-->

          <!--</div>-->

           <!--&lt;!&ndash;<div class="col-md-4 col-sm-12 content_wrap heading_space">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="image">&ndash;&gt;-->
              <!--&lt;!&ndash;<img src="../static/images/tour-page.png" alt="3D Web Page" class="img-responsive border-radius">&ndash;&gt;-->
              <!--&lt;!&ndash;<span class="post">Included with photo/3D package</span>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;<h3>Virtual Tour Web Page  </h3>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>Includes photo slide show with HDR purchase, 3D tour, map and property information on dedicated virtual tour web page for MLS.</p> <a class="btn-light button-hover border-radius" href="http://www.naples3dhome.com/tour/now/1605-Crayton-Rd-Naples-FL-34102.php" "="" alt="tour webpage sample 1" target="_blank">Sample 1</a>&nbsp;&nbsp;<a class="btn-light button-hover border-radius" href="http://www.naples3dhome.com/tour/now/35-Anchor-Ct-Marco-Island-FL-34145.php" "="" alt="tour webpage sample 1" target="_blank">Sample 2</a>&ndash;&gt;-->

          <!--&lt;!&ndash;</div>&ndash;&gt;-->




    <!--</div>-->


    <!--</div>-->
    <!--<div class="container">-->

     <!--<div class="row">-->


      <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/hdr.jpg" alt="hdr photo" class="img-responsive border-radius">-->
              <!--<span class="post">Add-on</span>-->
            <!--</div>-->
            <!--<h3> <img src="../static/images/camera/photocamera_1.png" alt="hdr photo" class=""> HDR High Quality Photos</h3><p3>Add-on</p3>-->

            <!--<p>High Quality processed HDR(high dynamic range photography) taken by a separate DSLR professional camera for <strong>much better quality photos than the extracted photos from the 3D tour that some competitors offer.</strong></p>-->

          <!--</div>-->

     <!--<div class="col-md-4 col-sm-12 content_wrap heading_space">-->
            <!--<div class="image">-->
              <!--<img src="../static/images/mattertags.jpg" alt="Matterport 2D floor plan" class="img-responsive border-radius">-->
              <!--<span class="post">Add-on</span>-->
            <!--</div>-->
           <!--<h3> 3D Tour Mattertags</h3><p3>Add-on</p3>-->
            <!--<p>Mattertags can be added to note specific features within the property. Mattertags can also be added to link to videos, PDF's, photos, web pages and even additional 3d tour(s) and more.</p>-->

          <!--</div>-->



          <!--</div></div>-->
    <!--<br>-->
    <!--SERVICE SECTION-->
    <!--<section id="pricing2" class="padding-top padding-bottom-half">-->
      <!--<div class="container">-->


    <!--<h2 class="heading heading_space">HDR Photos only Packages<span class="divider-left"></span></h2>-->
    <!--<br>-->



        <!--<div class="row">-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<div class="price_table border-radius text-center heading_space active">-->
              <!--<div class="plan half_space"><h3>25 HDR Photos</h3>-->
              <!--<img src="../static/images/photocamera_1.png" alt="hdr photo" class=""></div>-->
              <!--<div class="price">-->
                <!--<p><span class="dollor">$</span>149</p></div>-->

              <!--<ul>-->
     <!--<li><p3>Includes:</p3></li>-->
      <!--<li>25 HDR Photos</li>-->
                <!--<li>Virtual Tour Web Page</li>-->



              <!--</ul>-->
              <!--<a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>-->
            <!--</div>-->
          <!--</div>-->


          <!--<div class="col-md-3 col-sm-6">-->
            <!--<div class="price_table border-radius text-center heading_space active">-->
              <!--<div class="plan half_space"><h3>50 HDR Photos</h3>-->
              <!--<img src="../static/images/photocamera_1.png" alt="hdr photo" class="">-->
              <!--</div>-->
              <!--<div class="price">-->
                <!--<p><span class="dollor">$</span>199</p></div>-->

             <!--<ul>-->
     <!--<li><p3>Includes:</p3></li>-->
     <!--<li>50 HDR Photos</li>-->
                <!--<li>Virtual Tour Web Page</li>-->




              <!--</ul>-->
              <!--<a href="/contact" class="btn-light border-radius button-hover">Order Now!</a>-->
            <!--</div>-->
          <!--</div>-->














        <!--</div>-->
      <!--</div>-->
    <!--</section>-->
    <!--<br>-->

    <!--<div class="clearfix"></div>-->
    <!--<div class="container">-->
    <!--<h2 class="heading half_space">-->
    <!--Virtual staging of 3D Spaces Coming in late 2018!</h2>-->
    <!--<p> roOomy, a leading virtual staging and 3D modeling platform, announced its collaboration with Matterport, an immersive 3D media technology company, to develop first-to-market   solutions that integrate its virtual staging offering with Matterport&rsquo;s   immersive 3D media platform.  Currently under development in pilot phase   with multiple partners, and expected to roll out later in 2018,   roOomy&rsquo;s virtual staging will allow Matterport customers to virtually   furnish spaces including apartments or homes, providing property   managers or real estate agents the ability to cost effectively display   units in a furnished state, and enabling renters and buyers to make more   informed, confident decisions during their search for a residence.</p>-->
    <!--<p>To experience two roOomy virtually staged Matterport 3D Tours in action, click on below.</p><p> <a href="https://my.matterport.com/show/?m=UAebHgRN1r8" class="btn-light border-radius button-hover">Example 1</a>  <a href="https://my.matterport.com/show/?m=JbVvaKoABgY" class="btn-light border-radius button-hover">Example 2</a>         </p>-->
    <!--</div><br>-->
    <!--<div class="clearfix"></div>-->
    <!--<div class="container">-->
    <!--<h2 class="heading half_space">Realtor.com promoting Matterport! <span class="divider-left"></span></h2>-->
    <!--<div class="row">-->
    <!--<div class="col-md-6 text-center">-->
    <!--<iframe width="100%" height="315" src="https://www.youtube.com/embed/pQWyKpUDpSw" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
    <!--<div class="col-md-3 text-center">-->

    <!--</div>-->
    <!--<div class="col-md-3 text-center"></div></div></div>-->
    <!--<br />-->
{% endblock %}
