{% extends "layout.html" %}
{% block title %}VR 360 Charge Credit | Matterport Service Partner{% endblock %}
{% block head %}
    {{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="Description" content="Matterport 3D virtual tours contact in Auckland,New Zealand">
    <meta name="Keywords" content="Matterport Auckland, 3d tour, Auckland 3d photographer, matterport in Auckland">
{% endblock %}
{% block content %}
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up"></i></a>
    <!--Loader-->
    <div class="loader">
      <div class="satellite"></div>
      <p class="title-loader">Loading ...</p>
    </div>

    <!--Page Header-->
    <section class="page_header padding-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center page-content">
            <h1>Topup Account</h1>
            <p>Used for viewing the VR tour</p>
            <div class="page_nav">
          <span>You are here:</span> <a href="/">Home</a> <span><i class="fa fa-angle-double-right"></i>Credit</span>
          </div>
          </div>
        </div>
      </div>
    </section>

    <!--Contact Deatils SECTION-->
    <section id="contact" class="padding">
      <div class="container">
        <div class="row padding-bottom">
            <div class="col-md-4 contact_address heading_space">
                <h2 class="heading heading_space">Get in Touch <span class="divider-left"></span></h2>
                <p></p>

                <div class="address">
                    <i class="icon icon-mail"></i>
                    <h4>Email Us</h4>
                    <p><a href="mailto:test@hotmail.com">Email</a></p>
                </div>
                <div class="address">
                    <i class="icon icon-phone4"></i>
                    <h4>Robin</h4>
                    <p>XXX-XXX-XXXX</p>
                </div>
            </div>
            <div class="col-md-4">
            <h2 class="heading heading_space">Current balance:<span>{{ current_user.credit }}</span></h2>
                <ul>
                    <li> Test card # 4242 4242 4242 4242;Any three-digit CVC;Any expiration date in the future</li>
                </ul>
                <br>

                <form class="form-group">
                <fieldset>
                    {{ form.hidden_tag() }}
                    <div>
                        {{ form.subscribe_amount.label }}<br>
                        {{ form.subscribe_amount(class="form-control credit-amount") }}<br>
                        <br>
                        <!--{{ form.submit }}-->
                        <button id= "topup_submit" type="submit" class="form-control btn btn-register" tabindex="4" >
                            <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate loadingSign" style="display: none"></span>
                            <span class="icon glyphicon glyphicon-usd" aria-hidden="true"></span>
                            充值
                        </button>


                    </div>
                </fieldset>
                </form>
            </div>

        </div>
      </div>>
    </section>


{% endblock %}

{% block extrascript %}
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>

        $(document).ready(function(){
            $(".loadingSign").hide();
        });


        var amount;//= $('input.credit-amount').val()*100;

        var handler = StripeCheckout.configure({
            key: '{{key}}',
            image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
            locale: 'auto',
            token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
                token['amount'] = amount;
                $.post("/topup",token)
                .done(function(msg) {
                    alert(msg);
                    window.location.reload();
                });
                <!--.fail(function() {-->
                    <!--alert( "payment error try again" );-->
                <!--});-->
            }
        });

        $('#topup_submit').on('click', function(e) {
            $(".loadingSign").show();
            amount = $('input.credit-amount').val()*100;
            // Open Checkout with further options:
            handler.open({
                name: 'Doseehouse',
                description: 'vr 360 service fee',
                currency: 'nzd',
                amount: amount
                });
            e.preventDefault();
        });

        // Close Checkout on page navigation:
        window.addEventListener('popstate', function() {
            handler.close();
        });
    </script>
{% endblock %}